/* SETUP  */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* BASE */
@import 'basic/base.css';
@import 'basic/layout.css';
@import 'basic/helpers.css';


/* cmps */
@import 'cmps/app-home.css';
@import 'cmps/app-footer.css';
@import 'cmps/app-header.css';


/* Media Queries */
@import 'mq/mq.css';


.mail-list{
    width: 100px;
    height: 100px;
    background-color: aqua;
}