.mail-preview{
    justify-content: space-around;
    padding: 0.5em 0;
    font-size: 0.7rem;
}

.mail-list-item{
    border-bottom: 1px solid gray;
}

.mail-list-item:first-child{
    border-top: 1px solid gray;
}

.mail-list-item >*{
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0.5em 0;
    
}
a:visited{
    color: black;
}
#star{
    color: #FFC107;
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
