span.mail-logo{
   margin: 1px 6px;
   border-right: none;
}
div.mail-logo-layout.side-bar-layout{
    border-right: none;
}
.fa-mailchimp::before{
    font-size: 1.8em;
}
section.mail-header{
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}
div.main-header-layout{
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

div .settings-header{
    margin-right: 2rem;
}
.mail-search{
    box-sizing: border-box;
    width: 300px;
    margin-left: 3.3rem;
}
.settings-header>*{
    cursor: pointer;
    background: none;
    border: none;
}