

.preview-layout >*{
    margin: 0;
    font-family: "Spicy Rice", cursive;
    font-size: 0.7rem;
    padding-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.preview-layout{
    justify-content: space-between;
    gap: 10px;
}

.fa-star:before {
    color: rgb(236, 229, 229);
}

.yellow:before{
    content: "\f005";
    color: rgb(244, 212, 35);
}

.mail-preview-checks-container {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mail-subject-preview {
    max-width: 40vw;
}

.mail-preview-extension{
    max-width: 700px;
}
#star:checked + label::before{
    color: yellow;
}
mail-preview{
    width: 100%;
}
.mail-time-preview{
    padding-left: 1rem;
}

.mail-trash-preview{
    cursor: pointer;
    position: absolute;
    right: 2.5rem
}

.low-opacity{
    opacity: 0.5;
    color: rgb(114, 109, 109);
}