.unread {
    font-weight: 700;
}

.mail-list{
    display: flex;
    width: 80%;
}

.mail-list-item {
    border-bottom: 1px solid lightgray;
    border-left:1px solid lightgray; ;
    border-right:1px solid lightgray; ;
    display: flex;
}

.mail-list-item:first-child {
    border-top: 1px solid lightgray;
}

.mail-list-item>* {
    text-decoration: none;
    color: black;
    margin: 0.5em 0;
}



.list-item-extension{
    font-size: 1em;
    padding: 0 2rem 0 0.7rem;
}
.list-subject-extension{
    font-weight: 600;
    font-size:1.2em ;
}