
.side-bar-layout{
    width: 20%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
}
main{
    max-width: 100%;
}

.mail-app-container >*{
    font-family: "Spicy Rice", cursive;
    flex: 0 0 auto;
}
.side-bar-layout button{
    width: 100%;
    margin: 2px 0;
    border: none;
    background-color: rgb(251, 251, 251);
    text-align: start;
    border-radius: 10px;
    transition: 0.2s;

}

.side-bar-layout .list-group-item:hover{
    background-color: rgba(122, 128, 128, 0.189);
}

.side-bar-layout .add-btn{
    width: 70%;
    font-size: 0.8em;
    border-radius: 20px;
    border: 1px solid lightgrey;
    box-shadow: 0px 1px 1px;
    margin-left: 0.4em;
    align-items: center;
    display: inline-flex;
    color: rgb(157, 154, 154);
}
.side-bar-layout .add-btn:hover{
    box-shadow: 0px 1px 1px 1px ;
}
.side-bar-layout .fa-plus{
    color: blue;
}

.list-group-item{
    padding: 5px 15px;
}